<div class="my-5">
  <p class="text-center text-2xl">Все категории</p>

  <app-alert-action [text]="'Вы можете создать новую категорию для удобной группировки сейфов'">
    <button mat-raised-button color="primary" routerLink="/categories/create">
      Создать категорию
    </button>
  </app-alert-action>

  <div
    *ngIf="categories$ | async as categories; else loader"
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4"
  >
    <div
      [routerLink]="[category._id]"
      *ngFor="let category of categories"
      class="flex flex-col text-center rounded-md p-2 bg-secondary cursor-pointer"
    >
      <span class="p-3">{{category.name}}</span>

      <button mat-raised-button color="primary" (click)="edit($event, category)">
        Редактировать
      </button>
    </div>
  </div>

  <ng-template #loader>
    <mat-spinner class="my-5 mx-auto"></mat-spinner>
  </ng-template>
</div>
