<div class="bg-gray-50 rounded-md p-4 w-screen max-w-sm">
  <p class="text-lg text-center">Log in</p>

  <form [formGroup]="form" (ngSubmit)="login()" class="flex flex-col items-center">
    <mat-form-field class="w-full mb-2">
      <input matInput placeholder="Email:" formControlName="email" required />
      <mat-error>
        <app-validator-message [key]="'email'" [field]="form.get('email')"></app-validator-message>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full mb-2">
      <input
        matInput
        placeholder="Password:"
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        type="button"
        class="toggle-password"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error>
        <app-validator-message
          [key]="'password'"
          [field]="form.get('password')"
        ></app-validator-message>
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid || form.disabled"
      type="submit"
      class="w-full"
    >
      Submit
    </button>

    <a class="mt-4" routerLink="/auth/registration">Sign up</a>
  </form>
</div>

vladislavlee.xx@gmail.com ln0932389069
