<div>
  <ul class="header-layout">
    <li class="logo"></li>

    <li class="user">
      <p class="name" *ngIf="profile$ | async as profile">
        {{profile.name}}
      </p>
    </li>

    <li *ngFor="let link of links" routerLinkActive="active">
      <a [routerLink]="[link.url]">{{link.name}}</a>
    </li>

    <li class="menu">
      <button mat-stroked-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
    </li>

    <li class="logout">
      <button mat-raised-button color="accent" (click)="logout($event)">Log out</button>
    </li>
  </ul>
</div>
