<div class="my-5">
  <div class="flex items-center justify-between">
    <app-back-btn></app-back-btn>

    <button mat-stroked-button *ngIf="!isNew" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <p class="text-center text-2xl">{{isNew ? 'Создание' : 'Редактирование'}} сейфа</p>

  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="flex flex-col max-w-lg mx-auto"
  >
    <mat-form-field class="w-full mb-2">
      <input matInput placeholder="Название сейфа:" formControlName="name" required>
      <mat-error>
        <app-validator-message [field]="form.get('name')"></app-validator-message>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full mb-2">
      <mat-select placeholder="Категория:" formControlName="category" required>
        <mat-option *ngFor="let category of categories$ | async" [value]="category._id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full mb-2">
      <input matInput placeholder="Email:" formControlName="email">
      <mat-error>
        <app-validator-message [field]="form.get('email')"></app-validator-message>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full mb-2">
      <input matInput placeholder="Пароль:" formControlName="password">
      <mat-error>
        <app-validator-message [field]="form.get('password')"></app-validator-message>
      </mat-error>
    </mat-form-field>

    <p *ngIf="additional.controls.length" class="d-block mt-4">Дополнительные поля:</p>

    <ng-container
      formArrayName="additional"
      *ngFor="let item of additional.controls; let i = index; let first = first;"
    >
      <div [formGroupName]="i" class="flex">
        <mat-form-field class="w-full mb-2 mr-2">
          <input matInput placeholder="Название:" formControlName="key" />
          <mat-error>
            <app-validator-message [field]="item.get('key')"></app-validator-message>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full mb-2 mr-2">
          <input matInput placeholder="Значение:" formControlName="value" />
          <mat-error>
            <app-validator-message [field]="item.get('value')"></app-validator-message>
          </mat-error>
        </mat-form-field>

        <div class="actions flex">
          <button
            mat-icon-button
            color="primary"
            class="btn"
            [disabled]="form.disabled || i > 3"
            (click)="addFields($event)"
          >
            <mat-icon>add</mat-icon>
          </button>

          <button
            mat-icon-button
            color="warn"
            class="btn"
            [disabled]="form.disabled || first"
            (click)="removeFields(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>

    <button
      [disabled]="form.invalid || form.disabled"
      type="submit"
      mat-raised-button
      color="primary"
    >
      {{isNew ? 'Создать' : 'Сохранить'}}
    </button>
  </form>
</div>
