<div class="bg-primary">
  <div class="container">
    <div class="flex items-center justify-between py-4">
      <div class="flex items-center">
        <a class="logo flex-shrink-0" [routerLink]="['home']">
          logo
        </a>

        <div class="hidden md:flex md:ml-10 items-center space-x-4">
          <a
            class="hover:bg-secondary p-3 rounded-md"
            *ngFor="let link of links"
            [routerLink]="[link.url]"
            routerlinkActive="active"
          >
            {{link.name}}
          </a>
        </div>
      </div>

      <button mat-button [matMenuTriggerFor]="menu">
        <span class="name" *ngIf="profile$ | async as profile">
          {{profile.name}}
        </span>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>Профиль</button>

        <div class="md:hidden block">
          <button
            mat-menu-item
            *ngFor="let link of links"
            [routerLink]="[link.url]"
            routerlinkActive="active"
          >
            {{link.name}}
          </button>
        </div>

        <button mat-menu-item (click)="logout($event)">Выйти</button>
      </mat-menu>
    </div>
  </div>
</div>
