<div class="flex align-center">
    <div class="logo">logo</div>

    <div class="user">
      <p class="name" *ngIf="profile$ | async as profile">
        {{profile.name}}
      </p>
    </div>

    <div *ngFor="let link of links" routerlinkActive="active">
      <a [routerLink]="[link.url]">{{link.name}}</a>
    </div>

    <div class="menu">
      <button mat-stroked-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="logout">
      <button mat-raised-button color="accent" (click)="logout($event)">Log out</button>
    </div>
</div>
