<div class="my-5">
  <div class="flex items-center justify-between">
    <app-back-btn></app-back-btn>

    <button mat-button-base mat-stroked-button *ngIf="!isNew" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <p class="text-center text-2xl">{{isNew ? 'Create' : 'Edit'}} category</p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col">
    <mat-form-field>
      <input matInput placeholder="Название категории:" formControlName="name" required>
      <mat-error>
        <app-validator-message [field]="form.get('name')"></app-validator-message>
      </mat-error>
    </mat-form-field>

    <button
      [disabled]="form.invalid || form.disabled"
      type="submit"
      mat-raised-button
      color="primary"
    >
      {{isNew ? 'Создать' : 'Обновить'}}
    </button>
  </form>
</div>
