$primary-color: #3adcff;
$accent-color: #0085ff;
$light-color: #ffffff;
$warn-color: #f44336;
$muted-color: #ffffffa3;

$primary-background: #f5f8fc;
$secondary-background: #e5f5f9;
$light-background: #303974;
$dark-background: #141d3c;

$primary-text-color: #ffffff;
$accent-text-color: #3adcff;
$muted-text-color: #ffffffa3;

$primary-box-shadow: 0 4px 40px #172039;

$primary-link-color: #3adcff;
$primary-link-hover-color: #3adcff;
$secondary-link-color: #ffffff;
$secondary-link-hover-color: #3adcff;

$border-radius: 6px;
$border: 1px solid rgba(255, 255, 255, 0.25);
